.env
.eggs
.egg-info
dist
build
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
.local
.dbshell
.pytest_cache
__pycache__/
.ipynb_checkpoints
.mypy_cache
.pytype
.mypy_cache
.ipynb_checkpoints
.pytest_cache

.DS_Store

poetry.lock
output/
convert_data.py
